---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: safe space-evenly;
    align-items: normal;
    align-content: stretch;
}

.column {
    padding: 3px;
    flex-basis: 0%;
    align-content: center;
}

img {
    object-fit: cover;
    vertical-align: middle;
    
}

.left_capt {
    font-size: small;
    font-style: oblique;
    text-align: left;
}

.right_capt {
    font-size: small;
    font-style: oblique;
    text-align: right;
}

.center_capt {
    font-size: small;
    font-style: oblique;
    text-align: center;
}